.chat__write {
  position: fixed;
  width: 80%;
  bottom: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.chat-body .status-bar,
.chat-body .header {
  padding: 0px 20px;
}
.chat-body {
  padding: 0px;
}
.chat-screen {
  background-image: url("../images/chatBg.png");
  min-height: 100vh;
}
.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}
.chat__write-column input:focus {
  outline: none;
}
.chat__write-column i {
  font-size: 20px;
}
.chat-screen .chat__massage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #f7f7f7;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__massage .chat__timestamp {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 30px;
  background-color: aliceblue;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: rgba(23, 55, 87, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;
  text-transform: uppercase;
}

.massage {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 20px;
}
.massage .massage__content {
  width: 80%;
  padding: 1px;
}
.incoming-massage {
  align-self: flex-start;
}

.sent-massage {
  align-self: flex-end;
}
.massage .massage__bubble {
  background-color: aliceblue;
  box-shadow: rgba(23, 55, 87, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;
  padding: 5px 10px;
  border-radius: 10px;
}

.incoming-massage img {
  width: 35px;
  border-radius: 15px;
  margin-right: 10px;
}

.incoming-massage .massage__bubble {
  border-top-left-radius: 0px;
}
.sent-massage .massage__bubble {
  border-bottom-right-radius: 0px;
}

.incoming-massage .massage__author {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
}
